body {
    background-color: #1A2B32;
}

button:hover {
    cursor: pointer;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 90%;
    display: block;
}

.app-header {
    background-color: #1E3640;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    border-radius: 0.8rem;
}

.app-header div {
    background-color: #1A2B32;
    margin-top: 1.5rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    width: 70%;
}

.app-header p {
    color: #A9BEC9;
}

.app-header div button {
    width: 50%;
    height: 3rem;
    font-size: 20px;
    border-radius: 0.3rem;
    font-weight: bolder;
    border: 0;
}

.button-selected {
    background-color: #A9BEC9;
    color: #1A2B32;
}

.button-unselected {
    background-color: transparent;
    color: #A9BEC9;

}

.app-body {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.app-body button {
    margin-top: 0.5rem;
    height: 3rem;
    border-radius: 0.8rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
}

.app-body button:nth-child(1) {
    background-color: #EFB23E;
    border-bottom: 5px solid #9B721D;
}

.app-body button:nth-child(2) {
    background-color: #30C1BE;
    border-bottom: 5px solid #159390;
}

.game {
    display: none;
    width: 20rem;
}

.game-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-top p {
    color: #A9BEC9;
    background-color: #1E3540;
    width: 4rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

.game-body {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.game-body button {
    width: 6.33rem;
    height: 6.33rem;
    border-radius: 0.8rem;
    border: 0;
    background-color: #1E3640;
    font-size: 40px;
}

@media (min-width: 700px) {
    .app {
        width: 25rem;
    }
}